
<div class="team-content container pm flex column">
    <div class="flex row gs">
        <button type="button" class="ps selected" [ngClass]="{'selected': currentTab ==1 }" (click)="changeTab(1)">
            Lista de jogadores
        </button>
        <button type="button" class="ps" [ngClass]="{'selected': currentTab ==2 }" (click)="changeTab(2)">
            Formações
        </button>
        <button type="button" class="ps" [ngClass]="{'selected': currentTab ==3 }" (click)="changeTab(3)">
            Resultados
        </button>
        <button type="button" class="ps" [ngClass]="{'selected': currentTab ==4 }" (click)="changeTab(4)">
            Gols
        </button>
    </div>
    <div class="flex" *ngIf="currentTab == 0">
        <h3>
            Selecione os parametros do filtro e clique em buscar.
        </h3>
    </div>
    <app-player-list *ngIf="currentTab == 1" [playerList]="playerList"></app-player-list>
    <app-statistic *ngIf="currentTab == 2" [statistics]="statistics"></app-statistic>
    <app-statistic-table *ngIf="currentTab == 3" [statistics]="statistics"></app-statistic-table>
    <app-statistic-goals *ngIf="currentTab == 4" [statistics]="statistics"></app-statistic-goals>
    
</div>