
body{
    font-family: 'Roboto';
    font-style: normal;
    margin: 0px;
    height: calc(100vh - 64px);
    color: #272e3b;
    background-color: #eaecf1;
    display: flex;
    // padding: 32px;
    // align-items: center;
    justify-content: center;
}

.ms{margin: 16px;}
.mm{margin: 32px;}
.ml{margin: 64px;}

.gs{gap: 16px;}
.gm{gap: 32px;}

.ps{padding: 16px;}
.pm{padding: 32px;}
.pl{padding: 64px;}

.flex{  display: flex;}
.column{flex-direction: column;}
.row{   flex-direction: row;}
.center{
    align-items: center;
    justify-content: center;
}

.container{
    gap: 24px;
    background-color: #FFF;
    border-radius: 25px;
}

h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
span{
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
}

label{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 8px;
    color: #0079FF;
}

button{
    border: 1px solid #a0ceff;
    background: #66AFFF;
    border-radius: 25px;
    color: #FFF;
    width: 100%;
    &:hover{
        border: 1px solid #66AFFF;
        background:  #5491d1;
    }
    &:disabled{
        border: 1px solid #9abde2;
        background:  #6d8baa;
    }
}

input{
    border: 1px solid #E4EBFB;
    border-radius: 4px;
    background: #FFFFFF;
    padding: 16px;
    :focus{
        border: 1px solid #66AFFF;
    }
}

.alert{
    color: #FF0100;
    padding-top: 8px;
}

table {
    width: 100%;
    border-spacing: 0px;
    thead {
        border: 2px solid #80909b;
        th {
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
            border: 1px solid #F1F1F1;
        }
    }
    tbody {
        tr {
            &:nth-child(odd) {
                background-color: #f1faff;
            }
            &:nth-child(even) {
                background-color: #e3ebf0;
            }
            border-bottom: 1px solid #F1F1F1;
            td {
                padding: 10px;
                border: 1px solid #F1F1F1;
            }
        }
    }
}
